body {
  font-family: "sahel", sans-serif
}

.light-mode .resume-wrapper {
  box-shadow: none;
}

.resume-section {
  margin-bottom: 1rem;
}

.resume-contact {
  padding: 1rem 0;
}

.resume-progress {
  height: 10px;
}

.light-mode {
  background: #ffffff;
}

@media print {

  .light-mode {
    background: white;
    color: #354765
  }

  body {
    visibility: hidden;
  }

  .resume-wrapper {
    visibility: visible;
    margin: 0;
    padding: 0;
  }

  .col-md-1 {
    width: 8%;
    float: left;
  }

  .col-md-2 {
    width: 16%;
    float: left;
  }

  .col-md-3 {
    width: 25%;
    float: left;
  }

  .col-md-4 {
    width: 33%;
    float: left;
  }

  .col-md-5 {
    width: 42%;
    float: left;
  }

  .col-md-6 {
    width: 50%;
    float: left;
  }

  .col-md-7 {
    width: 58%;
    float: left;
  }

  .col-md-8 {
    width: 66%;
    float: left;
  }

  .col-md-9 {
    width: 75%;
    float: left;
  }

  .col-md-10 {
    width: 83%;
    float: left;
  }

  .col-md-11 {
    width: 92%;
    float: left;
  }

  .col-md-12 {
    width: 100%;
    float: left;
  }

}